<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="text-center header" th:fragment="copy">
    <div class="header_image"><img src="/static/img/header_title2.png" alt=""></div>
    <div class="buttons">
        <a class="home-button" href="/"  onmouseover="this.style='background-color: aqua;'" onmouseout="this.style='background-color: royalblue'"><div><strong>Home</strong></div></a>
        <div class="shopping-cart"  onmouseover="this.style='background-color: aqua;'" onmouseout="this.style='background-color: royalblue'" th:style="${cartList.size() == 0 ? 'color: black': 'color: red'}">
            <i class="fa fa-shopping-cart" th:if="${cartList.size() == 0}"></i>
            <i class="fa fa-shopping-cart" th:unless="${cartList.size() == 0}" th:text="' ' + ${cartSize}" th:style="'color: red; font-weight: bold'"></i>
        </div></div>
</div>
</body>
</html>
