<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="/static/js/login.js" defer></script>
<body>

<div class="text-center header" th:fragment="copy">
    <div class="header_image"><img src="/static/img/header_title2.png" alt=""></div>

    <div class="buttons">
        <a class="home-button" href="/">
            <div><strong>Home</strong></div>
        </a>
        <div id="cartOpen" class="shopping-cart" th:style="${cartList.size() == 0 ? 'color: black': 'color: red'}">
            <span class="fa fa-shopping-cart">
                <i id="cartCounter" th:if="${cartList.size() == 0}"></i>
                <i id="cartCounter" th:unless="${cartList.size() == 0}" th:text="' ' + ${cartList.size()}"
                   th:style="'color: red; font-weight: bold'"></i></span>
        </div>
        <div id="registration-button" th:if="${username == null}">Registration</div>
        <div id="registration-button" onclick="location.href='/userpage';" class="username" th:unless="${username == null}" th:text="${username}"></div>

        <div id="login-button" th:if="${username == null}">Login</div>
        <div id="login-button" onclick="location.href='/logout';" th:unless="${username == null}">Logout</div>

    </div>
</div>
</body>
</html>
