<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div id="cartModal" class="cartModal" th:fragment="copy">
    <div class="productList">
        <div class="modalContent" th:attr="id=${cartProd.getKey().id}" th:each="cartProd,iterStat : ${cartList}">
            <div class="productImage"><img height="100px" width="100px" src="http://placehold.it/400x250/000/fff"
                                           th:attr="src='/static/img/product_' + ${cartProd.getKey().id} + '.jpg'" alt=""/></div>
            <div class="productName text-center center defaultFontSize" th:text="${cartProd.getKey().name}">Name</div>
            <div class="productPrice text-center center defaultFontSize" th:text="${cartProd.getKey().price}">Price</div>
            <div class="productQuantity text-center center defaultFontSize" th:attr="id='count' + ${cartProd.getKey().id}" th:text="${cartProd.getValue()}">0</div>
            <div><img th:onclick="|addElement(${cartProd.getKey().id})|" class="changeProductQuantity text-center center" src="/static/img/addProduct.png" alt="add" onmouseover="this.src='/static/img/addProductOnMouse.png';" onmouseout="this.src='/static/img/addProduct.png';"></div>
            <div><img th:onclick="|removeElement(${cartProd.getKey().id})|" class="changeProductQuantity text-center center" src="/static/img/deleteProduct.png" alt="remove" onmouseover="this.src='/static/img/deleteProductOnMouse.png';" onmouseout="this.src='/static/img/deleteProduct.png';"></div>
        </div>
    </div>

    <img id="cartClose" class="closeModal" src="/static/img/exitModal.png" alt="exit" onmouseover="this.src='/static/img/exitModalOnMouse.png';" onmouseout="this.src='/static/img/exitModal.png';">
    <div class="fullPrice center text-center" th:text="'Full Price: ' + ${cartFullPrice} + ' $'">0</div>
    <div class="cartButtons">
        <div class="text-center"><img class="buttonSize text-center" src="/static/img/checkButton.png" alt="check" onmouseover="this.src='/static/img/checkButtonOnMouse.png';" onmouseout="this.src='/static/img/checkButton.png';"></div>
        <div class="text-center"><img class="buttonSize text-center" src="/static/img/buyButton.png" alt="check" onmouseover="this.src='/static/img/buyButtonOnMouse.png';" onmouseout="this.src='/static/img/buyButton.png';"></div>
    </div>
    <script>
        const modal = document.getElementById("cartModal");
        const openButton = document.getElementById("cartOpen");
        const closeButton = document.getElementById("cartClose");
        const container = document.getElementById("container");

        openButton.onclick = function () {
            // window.location.reload();
            modal.style.display = "block";
            container.style.pointerEvents = "none";
            container.style.opacity = "0.5";
        }

        closeButton.onclick = function () {
            modal.style.display = "none";
            container.style.opacity = "1";
            container.style.pointerEvents = "auto";
        }
    </script>
</div>

</body>
</html>