<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div id="cartModal" class="cartModal" th:fragment="copy">
    <div class="modalContent" th:each="cartProd,iterStat : ${cartList}">
        <div class="productImage"><img height="100px" width="100px" src="http://placehold.it/400x250/000/fff"
                  th:attr="src='/static/img/product_' + ${cartProd.getKey().id} + '.jpg'" alt=""/></div>
        <div class="productName text-center center" th:text="${cartProd.getKey().name}">Name</div>
        <div class="productPrice text-center center" th:text="${cartProd.getKey().price}">Price</div>
        <div class="productQuantity text-center center" th:text="${cartProd.getValue()} + ' pc'">0</div>
    </div>
    <img id="cartClose" class="closeModal" src="/static/img/exitModal.png" alt="exit" onmouseover="this.src='/static/img/exitModalOnMouse.png';" onmouseout="this.src='/static/img/exitModal.png';">

    <script>
        const modal = document.getElementById("cartModal");
        const openButton = document.getElementById("cartOpen");
        const closeButton = document.getElementById("cartClose");
        const container = document.getElementById("container");

        openButton.onclick = function () {
            modal.style.display = "block";
            container.style.pointerEvents = "none";
            container.style.opacity = "0.5";
        }

        closeButton.onclick = function () {
            modal.style.display = "none";
            container.style.opacity = "1";
            container.style.pointerEvents = "auto";
        }
    </script>
</div>

</body>
</html>