.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
body{
    background-image: url("/static/img/mainBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 140px;
    background-image: url("/static/img/header_background.jpg");
    background-size: 100% 100%;
}
.container{
    margin-top: 180px;
    margin-bottom: 100px;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
}
.card-header{
    height: 120px;
    overflow-y: auto;
}
.card{
    margin-top: 20px;
}
.card-body{
    display: inline-grid;
    grid-template-columns: 50% 50%;
}
.lead{
    font-family: "Stencil Std", Gadget, fantasy;
    font-size: 20px;
    letter-spacing: 0;
    word-spacing: 0;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.card-text{
    alignment: center;
}
.buttons{
    border-radius: 20px;
    width: 600px;
    height: 40px;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: royalblue;
    align-content: center;
}
.home-button{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 24px;
    border-right-width: 2px;
    border-right-style: solid;
    font-style: normal;
    color: black;
}
.home-button:hover, .shopping-cart:hover{
    background-color: aqua;
}
.shopping-cart{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 28px;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
.cartModal{
    background-image: url("/static/img/fantasyshop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 30px;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 800px;
    height: 500px;
    z-index: 2;
}

.registrationModal {
    max-height: calc(100vh - 210px);
    overflow-y: auto;

    background-color: darkgoldenrod;
    position: fixed;
    top: 5%;
    left: 25%;
    width: 800px;
    z-index: 2;
}
.loginModal {
    background-color: darkgoldenrod;
    border-radius: 30px;
    position: fixed;
    top: 5%;
    left: 25%;
    width: 600px;
    height: 200px;
    z-index: 2;
}
.login-form {
    padding: 20px;
}

#registration-button {
    font: 25px black bold;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

#registration-button:hover {
    cursor: pointer;
}

.registration-form {
    padding: 20px;
}

.hide{
    display: none;
}
.display{
    display: block;
}
.closeModal {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 25px;
    float: right;
}
.closeModal:hover{
    cursor: pointer;
}
.changeProductQuantity:hover{
    cursor: pointer;
}
.buttonSize:hover{
    cursor: pointer;
}
.shopping-cart:hover{
    cursor: pointer;
}
.add-button:hover{
    cursor: pointer;
}
.productList{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80%;
    height: 70%;
    overflow: auto;
}
.modalContent{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 5px;
    background-color: darkseagreen;
    border-width: 3px;
    border-style: double;
    display: grid;
    grid-template-columns: 15% 72% 5% 8%;
    grid-template-rows: 50% 50%;
}
.productImage{
    grid-row: 1 / span 2;
}
.productName{
    grid-column: 2;
    grid-row: 1;
}
.productPrice{
    grid-column: 2;
    grid-row: 2;
}
.productQuantity{
    vertical-align: center;
    grid-column: 3;
    grid-row: 1 / span 2
}
.center{
    margin: auto;
    width: 50%;
}
.defaultFontSize{
    font-size: 20px;
    font-weight: bold;
}
.changeProductQuantity{
    width: 40px;
    height: 40px;
}
.cartButtons{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: grid;
    grid-template-columns: 50% 50%;
}
.buttonSize{
    width: 100px;
    height: 60px;
}
.fullPrice {
    background-color: darkseagreen;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    bottom: 80px;
    left: 10px;
    width: 30%;
}


#check_form {
    line-height: 1.5;
}
#userpage_form {
    line-height: 1.5;
}

.label {
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border-radius: 5px;
}
#payPalContainer {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

#creditCardContainer {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
